body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

#header { 
    height:160px;
	border:1px dashed black;	/* Just for Illustration purposes */
	/* background:#4F4B4B; */
	text-align:center;

}
#logo {
	width:300px; 
	height:140px; 
	margin:10px 10px 10px 40px; 
	border:1px dashed red; 
	float:left;
	/* background:#ccc; */
}

.ad {
	width:140px; 
	height:140px; 
	border:1px dashed blue; 
	margin:10px;
	float:right;
	/* background:#ccc;*/
}

.ad.first {
	margin-right:40px;
} 

#nav {
	height:60px;
	margin:20px 0px;
	text-align:center;
	border:1px dashed green; 
	/* background:#a9a9a9; */
}

.center {
	margin:0 auto;
}

.button {
	/* width:120px; */
	height:40px; 
	border:1px dashed orange; 
	margin:10px 0px;
	background:#eee;
	cursor:pointer; 
        word-wrap:break-word;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px; 
}
.box_300 {
	height:300px;
	width:300px; 
	/*background:#CCC;*/
	margin-bottom:20px;
	border:dashed 1px red;
}

.box_300.middle{
	/* margin:0px 10px; */
	
}
table {
    width:100%;
	margin:20px 0px;
}

table th,td {
	border: 1px solid #bbb;
	text-align:center;
	height:30px;
	vertical-align:middle;
}

th {
	background:#ccc;
	font-weight:bold;
}

tr.alt {
	background: #ccc;
}

 #gallery{
   /* Prevent vertical gaps */
   line-height: 0;
   -moz-column-count:    7;
   -webkit-column-count: 7;
   column-count:         7;
   -webkit-column-gap:   0px;
   -moz-column-gap:      0px;
   column-gap:           0px;
	height: 400px;
	margin-top:20px 0px;
	overflow:hidden;
}
#gallery img {
  /* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
}






#footer { 
	margin: 0 auto;
	text-align:center;	
}


			/********** Media Queries Handling Responsive Design *****************/
	
	/*** If you have complex websites, haveing stylesheets for specific devices to handle Responsive Design is recommended as it will be easy to maintain the code and save the BANDWIDTH as well so you can load the CSS relavent and required for a specific device as opposed to loading all the CSS from one single CSS file. For purpose of this example the CSS has been included in 1 file for all the devices ***/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	#gallery {
		-moz-column-count:    5;
		-webkit-column-count: 5;
		column-count:         5;
	}

}
	/* Tablet Portrait size to standard 960 (devices and browsers) */

	@media only screen and (min-width: 768px) and (max-width: 959px) {

	body {
		font-size: 11px;
	}

	#header {
		height:160px;
	}

	#logo {
		width:300px;
		height:140px; 
		margin:10px 10px 10px 40px;
	}

	.ad {
		width:140px; 
		height:140px;
		margin:10px;

}

	.ad.first {
		margin-right:40px;
	} 

	#gallery {
		-moz-column-count:    6;
		-webkit-column-count: 6;
		column-count:         6;
	}

}


	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		font-size: 6.5px;
	}

	#header {
		height:80px;
	}

	#logo {
		width:150px;
		height:70px; 
		margin:5px 5px 5px 20px;
	}

	.ad {
		width:70px; 
        height:70px;
        margin:5px;
	}
	.ad.first {
		margin-right:20px;
	} 
	
	 .box_300 {	
		width:150px;
		height:150px;
	}

#gallery {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) { 

	#header {
		height:50px;
	}
	
	#logo {
		width:100px; 
		height:45px;
		margin:3px 3px 3px 15px;
	}
	.ad {
		width:45px; 
        height:45px;
        margin:3px;
}
	.ad.first {
		margin-right:15px;
	} 
	
	.box_300 {	
		width:100px;
		height:100px;
	}

	#gallery {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}